.title-container{
  margin: auto;
  width: 400px;
  height: 100px;
  text-align: center;
}

.middle-container{
  margin: auto;
  width: 400px;
  height: 150px;
  text-align: center;
}

#recipe-container{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  margin-top: 10%;
}
